<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-4 bg-white rounded shadow width100 max-width400">
        <h3 class="mb-4 text-center">Login</h3>
        <div class="mb-3">
            <label for="inputUsername" class="form-label">Username</label>
            <input type="username" class="form-control" id="inputUsername" placeholder="Enter username"
                formControlName="username" />
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                formControlName="password" />
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe" />
            <label class="form-check-label" for="rememberMe">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Login</button>

        <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert"> -->
        <span class="color-red center" *ngIf="error"> {{ error }}</span>
        <!-- </div> -->
        <div class="text-center mt-3">
            <a routerLink="/register">Register New User</a>
        </div>
    </form>
</div>